apiVersion: v1
kind: Service
metadata:
  name: {{ include "quote-api.fullname" . }}
  labels:
    {{- include "quote-api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http # <-- The fix
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "quote-api.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
